<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}?{{ now }}">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffccbe">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffccbe">
	<meta property="og:url" content="https://laetitiajordan.ch"/>
	<meta property="og:title" content="{{ .Title }}"/>
	{{ with .Site.Params.description }}<meta property="og:description" content="{{ . }}" />{{ end }}
	<script defer data-domain="laetitiajordan.ch" src="https://plausible.io/js/script.js"></script>
</head>
<body>
	<header>
		<h2>Laetitia Jordan</h2>
		<h1>
			Ostéopathe
		</h1>
	</header>
	<main class="container">
		{{ block "main" . }}{{ end }}
	</main>
	

</body>
</html>
